{% extends "base.html" %}

{% block content %}
 <form action="{% url 'add' %}" method="POST">
    <div class="nick">
        <label>Nick:</label>
        <input type="text" name="nick" id="nick"/>
    </div>
     <div class="tekst">
        <label>Tekst:</label>
        <textarea cols="40" rows="5" name="tekst" id="tekst"></textarea>
    </div>
    <input type="submit" name="vote" value="Dodaj"/>
</form>

{% for wpis in wpisy %}
<div class="wpis">
    <p><b>Nick:</b> {{ wpis.nick }}</p>
    <p><b>Tekst:</b> {{ wpis.text }}</p>
    <hr/>
</div>
{% endfor %}
{% endblock %}