{% extends "base.html" %}

{% block content %}
<form action="{% url 'blog:add' %}" method="POST">
    <div>
        <label for="title">Tytuł:</label><br/>
        <input type="text" id="title" name="title"/>
    </div>
    <div>
        <label for="text">Tekst:</label><br/>
        <textarea name="text" id="text" cols="40" rows="5" style="resize: none;"></textarea>
    </div>
    <div>
        <input type="submit" value="Dodaj"/>
    </div>
</form>
{% endblock %}