{% extends "base.html" %}

{% block content %}
{% if wpisy %}
        <h4>Twoje wpisy:</h4>
        {% for wpis in wpisy %}
        <div class="wpis">
            <div class="title">{{ wpis.title }}</div>
            <div class="text">{{ wpis.text }}</div>
        </div>
        {% endfor %}
{% else %}
        <h4>Aktualnie brak Twoich wpisów</h4>
{% endif %}
{% endblock %}