{% extends "base.html" %}

{% block content %}
<form action="{% url 'blog:register' %}" method="POST">
    <div><label>Login:</label>
    <input type="text" id="nick" name="nick"/></div>
    <div><label>Hasło:</label>
    <input type="password" id="pass1" name="pass1"/></div>
    <div><label>Powtórz hasło:</label>
    <input type="password" id="pass2" name="pass2"/></div>
    <input type="submit" value="Zarejestruj">
</form>
{% endblock %}